= render "/shared/navbar"
.container
  .row-marketing
    .col-lg-8
      .jumbotron
        .container
          %table.table
            %thead
              %tr
                %th Tournaments
            %tbody
              - @tournament_list.each do |tournament|
                %tr
                  %td
                    = tournament.name
                  %td
                    = link_to "Show Details", game_tournament_path(@game, tournament)
                    - if can? :modify, tournament
                      = link_to "Edit", edit_game_tournament_path(@game, tournament)
                      = link_to "Delete", game_tournament_path(@game, tournament), method: :delete, data: { confirm: "Are you sure?" }
                    = link_to "List Matches", game_tournament_matches_path(@game, tournament)
    .col-lg-4
      .container 
        .center
          = image_tag("new_game.jpg" , class: "img-circle", width: "200", height: "200")
          .center
            - if can? :assign, Tournament
              %h3 Enter a new tournament
              %a{ class:"btn btn-primary", href: new_game_tournament_path(@game), role:"button"} New Tournament
