= print_all
%h3 The different tournaments
%table{:border => "1"}
  %tbody
    %tr
      %th Tournaments
    - @tournament_list.each do |tournament|
      %tr
        %td
          = tournament.name
        %td
          = link_to "Show Details", tournament_path(tournament)
          = link_to "Edit", edit_tournament_path(tournament)
          = link_to "Delete", tournament, method: :delete, data: { confirm: "Are you sure?" }
=link_to "Create Tournament", new_tournament_path
