%h3 eHey
%tr
  %td
    = game.name
  %td
    %button{ class: 'btn.btn-default'}
      = link_to "Show Details", game_path(game), html => {:class => "btn btn-default", :role => "button"}
      = link_to "Edit", edit_game_path(game)
    %button{ class: "danger"}
      = link_to "Delete", game, method: :delete, {'data-toggle': "model", 'data-target': "#myModel"}
      = link_to "List Match", game_matches_path(game)
