= render partial: "shared/modal", locals: {url: games_path }
= render "shared/navbar"
.container  
  %h2 Gaming Zone
  %p Want to know who is better? you or your friend?
  %p Choose the game you wish to play with your friends, play matches
  %p and win points!!
.container
  .row-marketing
    .col-lg-10
      .jumbotron.bg1-color
        .container
          %table.table.table-striped
            %thead
              %tr
                %th List of Games
            %tbody    
              = render @games
          = will_paginate @games, renderer: BootstrapPagination::Rails
    .col-lg-2
      .container 
        .center
          = image_tag("new_game.jpg" , class: "img-circle", width: "200", height: "200")
          .center
            - if can? :manage, Game
              %h4 Enter a new game to play
              %a{ class:"btn btn-primary custom-color", href: "/games/new", role:"button"} New Game

